/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyer reset*/
/*Color Palette*/

*{
    --silver: #B1AAA6ff;
    --drab-dark-brown: #343017ff;
    --coyote: #7F6B57ff;
    --caf-noir: #4D361Aff;
    --lion: #C49B68ff;
}

@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}
body{
    display: flex;
    margin: 0;
    padding: 0;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70vh;
    height: 100vh;
    width: 30vw;
    background-image: url(images/dog.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text, .footer{
    width: 100%;
    padding: 10px;
    background-color:  rgba(0, 0, 0, 0.3);
    
}

.footer{
    text-align: center;
}

.hero-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}


h1{
    font-family: Norse-Bold;
    font-size: 6vh;
}

.logo{
    height: 6vh;
}

a{
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: var(--silver);
  }
  
  /* visited link */
  a:visited {
    color: var(--drab-dark-brown);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }

/*Right side*/

.right{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70vw;
    background: linear-gradient(var(--silver),var(--drab-dark-brown) , var(--silver));
}

.first, .second, .third{
    flex: 1;
}
.first{
    font-size: xx-large;
    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0;
    margin: 0;
}
.first>p{
    padding-bottom: 1.5em;
}

.second{
    display: flex;

}
form{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.form-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 40%;
}
